.thanksBox {
  text-align: center;
}

.thanksMsg {
  color: green;
  font-size: 1.5rem;
  padding: 40px;
}

.goToAbout {
  border-radius: 5px;
  background-color: lightblue;
  width: 10%;
  height: 5vh;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .goToAbout {
    width: 20%;
  }
}
